.container{
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
}

.todo-list{
    .ant-card{
     margin-top: 20px;
    }
}
/*
.form{
background-color: rgb(180, 15, 15);
border-radius: 10px;
margin-top: 100px;
display: flex;
}

 input{
    flex: 5;
    border: none;
    outline: none;
    padding: 8px 16px; 
    background-color: rgb(250, 207, 164);
}
input:focus{
    border:1px solid orangered;
}

.list
{ font-size: 25px;
    padding: 10px;

background-color: #d1d1d13d;
}
.form button{
    flex: 1;
    border: none;
    background-color: palegreen;
    font-size: 20px;
}
.list-item button{
    border: none;
    background-color: palegreen;
    font-size: 20px;
    padding: 10px;
    
}
.list-item{margin: 11px 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
    border: 1px solid orangered;
    border-radius:4px ;
}*/